<h6>Votre parie :</h6>
<div class="row">
    {% if(matche.score_countrie_1_user == "null" or matche.score_countrie_2_user == "null") %}
        <div class="col-12 d-flex justify-content-center align-items-center">
            <p>Vous n'avez pas parié ce match.</p>
        </div>
    {% else %}
        <div class="col-12 col-md-5 justify-content-center align-items-center d-flex">
            <span class="flag-style fi fi-{{ matche.countrie_1_flag }}"></span>
        </div>
        <div class="col-12 col-md-5 justify-content-center align-items-center d-flex">
            <p class="m-0">{{ matche.score_countrie_1_user }} - {{ matche.score_countrie_2_user }}</p>
        </div>
        <div class="col-12 col-md-5 justify-content-center align-items-center d-flex">
            <span class="flag-style fi fi-{{ matche.countrie_2_flag }}"></span>
        </div>
        <div class="col-12 col-md-5 justify-content-center align-items-center d-flex">
            <p>{{ matche.countrie_1 }}</p>
        </div>
        <div class="col-2 justify-content-center align-items-center d-flex"></div>
        <div class="col-5 justify-content-center align-items-center d-flex">
            <p>{{ matche.countrie_2 }}</p>
        </div>
        <div class="col-12">
            {% if(matche.score_countrie_1_user == matche.score_countrie_2_user) %}
                <p>Égalité</p>
            {% elseif(matche.score_countrie_1_user > matche.score_countrie_2_user) %}
                <p>Countrie 1 win</p>
            {% else %}
                <p>Countrie 2 win</p>
            {% endif %}
        </div>
    {% endif %}
</div>