{% extends 'base.html.twig' %}

{% block title %}Choix d'un groupe de pari{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Paris</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="alert alert-warning text-center" role="alert">
                Petit soucis pour l'instant les points bonus ne sont pas pris en compte dans le classement !<br>
                Ils seront calculés en fin de semaine prochaine.
            </div>
            {% set trans_day_hash = {
                "Monday": "Lundi",
                "Tuesday": "Mardi",
                "Wednesday": "Mercredi",
                "Thursday": "Jeudi",
                "Friday": "Vendredi",
                "Saturday": "Samedi",
                "Sunday": "Dimanche"
            } %}
            {% set trans_month_hash = {
                "January": "Janvier",
                "February": "Février",
                "March": "Mars",
                "April": "Avril",
                "May": "Mai",
                "June": "Juin",
                "July": "Juillet",
                "August": "Août",
                "September": "Septembre",
                "October": "Octobre",
                "November": "Novembre",
                "December": "Décembre"
            } %}
            {% set type_match_100 = false %}
            {% set type_match_7 = false %}
            {% set type_match_6 = false %}
            {% set type_match_5 = false %}
            {% set type_match_4 = false %}
            {% set type_match_3 = false %}
            {% set type_match_2 = false %}
            {% set type_match_1 = false %}
            {% for key, res in matches %}
                {% for matche in res %}
                    {% if matche.type_match == 100 and type_match_100 == false %}
                        {% set type_match_100 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-100">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Historiques de vos paris</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 7 and type_match_7 == false %}
                        {% set type_match_7 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-7">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Phase de groupes - Journée 1/3</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 6 and type_match_6 == false %}
                        {% set type_match_6 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-6">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Phase de groupes - Journée 2/3</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 5 and type_match_5 == false %}
                        {% set type_match_5 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-5">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Phase de groupes - Journée 3/3</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 4 and type_match_4 == false %}
                        {% set type_match_4 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-4">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Huitièmes de finale</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 3 and type_match_3 == false %}
                        {% set type_match_3 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-3">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Quarts de finale</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 2 and type_match_2 == false %}
                        {% set type_match_2 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-2">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Demi-finales</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if matche.type_match == 1 and type_match_1 == false %}
                        {% set type_match_1 = true %}
                        <div class="row mb-4">
                            <div class="col select-type-match-1">
                                <div class="card">
                                    <div class="card-body text-center row">
                                        <div class="col-11">
                                            <p class="m-0">Finale</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card mb-4 type_match_{{ matche.type_match }}" id="matche_number_{{ matche.id }}">
                        <div class="card-body text-center">
                            {% if date("now") <= matche.date %}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <p class="mb-0">Le {{ trans_day_hash[matche.date|date("l")] }} {{ matche.date|date("j") }} {{ trans_month_hash[matche.date|date("F")] }} à {{ matche.date|date("H:i") }}</p>
                                    </div>
                                </div>
                            {% endif %}
                                <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Résultat du Match :</h6>
                                        </div>
                                    </div>
                                    {% if(matche.countrie_1 == "null" or matche.countrie_2 == "null") %}
                                        <div class="row">
                                            <div class="col-4 text-center g-0">
                                                <i class="flag-style fa-solid fa-circle-question"></i>
                                                <p>À venir</p>
                                            </div>
                                            <div class="col-4 d-flex align-items-center justify-content-center g-0">
                                                <p>VS</p>
                                            </div>
                                            <div class="col-4 g-0">
                                                <i class="flag-style fa-solid fa-circle-question"></i>
                                                <p>À venir</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-4 text-center g-0">
                                                <span class="flag-style fi fi-{{ matche.countrie_1_flag }}"></span>
                                                <p>{{ matche.countrie_1 }}</p>
                                            </div>
                                            <div class="col-4 d-flex align-items-center justify-content-center g-0">
                                                {% if date("now") >= matche.date %}
                                                    {% if date("now") <= matche.date_2_hours %}
                                                        <p class="size_score">Match en cours...</p>
                                                    {% else %}
                                                        <p class="size_score">{{ matche.score_countrie_1 }}-{{ matche.score_countrie_2 }}</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="size_score">-</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-4 g-0">
                                                <span class="flag-style fi fi-{{ matche.countrie_2_flag }}"></span>
                                                <p>{{ matche.countrie_2 }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {% if date("now") >= matche.date %}
                                                    {% if date("now") >= matche.date_2_hours %}
                                                        {% if(matche.score_countrie_1 == matche.score_countrie_2) %}
                                                            <p>Égalité !</p>
                                                        {% elseif(matche.score_countrie_1 > matche.score_countrie_2) %}
                                                            <p>{{ matche.countrie_1 }} à remporté ce match !</p>
                                                        {% else %}
                                                            <p>{{ matche.countrie_2 }} à remporté ce match !</p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>Votre pari :</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% if(matche.score_countrie_1_user == "null" or matche.score_countrie_2_user == "null") %}
                                            <div class="col-12 g-0">
                                                <p class="my-4 text-dark"><i class="fs-2 fa-solid fa-face-sad-tear"></i></p>
                                                <p class="mb-0">Aucun pari sur ce match</p>
                                            </div>
                                        {% else %}
                                            <div class="col-4 text-center g-0">
                                                <span class="flag-style fi fi-{{ matche.countrie_1_flag }}"></span>
                                                <p>{{ matche.countrie_1 }}</p>
                                            </div>
                                            <div class="col-4 d-flex align-items-center justify-content-center g-0">
                                                <p class="size_score">{{ matche.score_countrie_1_user }}
                                                    - {{ matche.score_countrie_2_user }}</p>
                                            </div>
                                            <div class="col-4 g-0">
                                                <span class="flag-style fi fi-{{ matche.countrie_2_flag }}"></span>
                                                <p>{{ matche.countrie_2 }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if date("now") >= matche.date %}
                                            {% if date("now") >= matche.date_2_hours %}
                                                {% set lose = true %}
                                                {% if((matche.score_countrie_1 == matche.score_countrie_1_user) and (matche.score_countrie_2 == matche.score_countrie_2_user)) %}
                                                    <p class="mb-0">+2 points scores exactes</p>
                                                    {% set lose = false %}
                                                {% endif %}
                                                {% if(matche.score_countrie_1 == matche.score_countrie_2) %}
                                                    {% if(matche.score_countrie_1_user == matche.score_countrie_2_user) %}
                                                        <p class="mb-0">+1 point égalité</p>
                                                        {% set lose = false %}
                                                    {% endif %}
                                                {% elseif(matche.score_countrie_1 > matche.score_countrie_2) %}
                                                    {% if(matche.score_countrie_1_user > matche.score_countrie_2_user) %}
                                                        <p class="mb-0">+1 point {{ matche.countrie_1 }} gagnant</p>
                                                        {% set lose = false %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if(matche.score_countrie_1_user < matche.score_countrie_2_user) %}
                                                        <p class="mb-0">+1 point {{ matche.countrie_2 }} gagnant</p>
                                                        {% set lose = false %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if lose == true %}
                                                    <p class="mb-0">Perdu aucun point gagné</p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row position-relative">
                                <div class="col-12 col-md-12 d-flex align-items-center justify-content-center flex-column">
                                    {% if matche.countrie_1 != "null" or matche.countrie_2 != "null" %}
                                        {% if date("now") <= matche.date %}
                                            {% if(matche.score_countrie_1_user == "null" or matche.score_countrie_2_user == "null") %}
                                                <a href="{{ path("app_add_bet", {id: matche.id}) }}" type="button" class="btn btn-bordeaux btn-lg">Parier ce match</a>
                                                <p class="fs-4 mb-0 mt-3">Le pari se termine dans :</p>
                                                <p class="timer-bet mb-0" data-date-timer="{{ matche.date|date("M") }} {{ matche.date|date("j") }}, {{ matche.date|date("Y") }} {{ matche.date|date("H:i:s") }}">&nbsp;</p>
                                            {% else %}
                                                <a href="{{ path("app_edit_bet", {id: matche.id}) }}" class="btn btn-yellow-modif btn-lg">Modifier le pari</a>
                                                <p class="fs-4 mb-0 mt-3">Le pari se termine dans :</p>
                                                <p class="timer-bet mb-0" data-date-timer="{{ matche.date|date("M") }} {{ matche.date|date("j") }}, {{ matche.date|date("Y") }} {{ matche.date|date("H:i:s") }}">&nbsp;</p>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path("app_see_bet", {id: matche.id}) }}" class="btn btn-primary btn-lg">Voir tous les paris</a>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" class="btn btn-disabled btn-lg">Pari indisponible</button>
                                    {% endif %}
                                </div>
                                {% if(matche.groupe != "null") %}
                                    <div class="position-absolute bottom-0 end-0 text-end w-25 d-flex justify-content-end align-middle flex-column">
                                        <p class="m-0">Groupe</p>
                                        <p class="groupe text-center fw-bold mb-0 rounded-5 ms-auto">{{ matche.groupe }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
    <style>
        @media (min-width: 576px) {
            .flag-style {
                width: 100px !important;
                height: 100px !important;
            }
        }
        .groupe {
            background-color: rgb(137, 9, 47);
            color: white;
            width: 25px;
            margin-right: 11px;
        }
        .flag-style {
            width: 50px;
            height: 50px;
        }
        .select-type-match-100, .select-type-match-7, .select-type-match-6, .select-type-match-5, .select-type-match-4, .select-type-match-3, .select-type-match-2, .select-type-match-1 {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }
        .size_score {
            font-size: 25px;
        }
    </style>
    <script>
        const date_now = new Date();
        const type_match_6 = new Date('2022-11-25');
        const type_match_5 = new Date('2022-11-29');
        const type_match_4 = new Date('2022-12-01');
        const type_match_3 = new Date('2022-12-06');
        const type_match_2 = new Date('2022-12-10');
        const type_match_1 = new Date('2022-12-14');
        $('.type_match_100').toggle();
        $('.type_match_6').toggle(false);
        $('.type_match_5').toggle(false);
        $('.type_match_4').toggle(false);
        $('.type_match_3').toggle(false);
        $('.type_match_2').toggle(false);
        $('.type_match_1').toggle(false);
        if(type_match_6 <= date_now) {
            $('.type_match_6').toggle(true);
        }
        if(type_match_5 <= date_now) {
            $('.type_match_5').toggle(true);
        }
        if(type_match_4 <= date_now) {
            $('.type_match_4').toggle(true);
        }
        if(type_match_3 <= date_now) {
            $('.type_match_3').toggle(true);
        }
        if(type_match_2 <= date_now) {
            $('.type_match_2').toggle(true);
        }
        if(type_match_1 <= date_now) {
            $('.type_match_1').toggle(true);
        }
        $('.select-type-match-100').click(function(){
            $('.type_match_100').toggle();
        });
        $('.select-type-match-7').click(function(){
            $('.type_match_7').toggle();
        });
        $('.select-type-match-6').click(function(){
            $('.type_match_6').toggle();
        });
        $('.select-type-match-5').click(function(){
            $('.type_match_5').toggle();
        });
        $('.select-type-match-4').click(function(){
            $('.type_match_4').toggle();
        });
        $('.select-type-match-3').click(function(){
            $('.type_match_3').toggle();
        });
        $('.select-type-match-2').click(function(){
            $('.type_match_2').toggle();
        });
        $('.select-type-match-1').click(function(){
            $('.type_match_1').toggle();
        });
    </script>

    <script>
        var x = setInterval(function () {
            $('.timer-bet').each(function (index) {
                var countDownDate = new Date($(this).attr('data-date-timer')).getTime();

                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                // Display the result in the element with id="demo"
                if (days !== 0) {
                    if (days === 1) {
                        days = "<b>" + days + "</b> jour ";
                    } else {
                        days = "<b>" + days + "</b> jours ";
                    }
                } else {
                    days = "";
                }
                if (hours !== 0) {
                    if (hours === 1) {
                        hours = "<b>" + hours + "</b> heure ";
                    } else {
                        hours = "<b>" + hours + "</b> heures ";
                    }
                } else {
                    hours = "";
                }
                if (minutes !== 0) {
                    if (minutes === 1) {
                        minutes = "<b>" + minutes + "</b> minute ";
                    } else {
                        minutes = "<b>" + minutes + "</b> minutes ";
                    }
                } else {
                    minutes = "";
                }
                if (seconds !== 0) {
                    if (seconds === 1) {
                        seconds = " et <b>" + seconds + "</b> seconde ";
                    } else {
                        seconds = " et <b>" + seconds + "</b> secondes ";
                    }
                } else {
                    seconds = "";
                }
                if (days === "" && hours === "" && minutes === "") {
                    console.log("il est la");
                    seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    if (seconds === 1) {
                        seconds = "<b>" + seconds + "</b> seconde ";
                    } else {
                        seconds = "<b>" + seconds + "</b> secondes ";
                    }
                }
                $(this).html(days + hours + minutes + seconds);

                if (distance <= 0) {
                    $(this).text("Pari cloturé !");
                }
            });
        }, 1000);
    </script>
{% endblock %}
