{% extends 'base.html.twig' %}

{% block title %}Parier sur le classement final{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item"><a href="{{ path("app_bet_bonus") }}">Paris bonus</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body text-center">
                    {{ form_start(bet_form) }}
                    <div class="row">
                        <div class="col-12 col-md-4 mb-md-0 mb-4">
                            <h3>Sélectionner un pays en<br>2ème position :</h3>
                            {{ form_widget(bet_form.second_countrie_user, {'attr': {'class': 'fs-4 text-center form-select p-3'}}) }}
                        </div>
                        <div class="col-12 col-md-4 m-auto fw-bold mb-md-0 mb-4">
                            <h3>Sélectionner un pays en<br>1er position :</h3>
                            {{ form_widget(bet_form.first_countrie_user, {'attr': {'class': 'fs-4 text-center form-select p-3'}}) }}
                        </div>
                        <div class="col-12 col-md-4 text-center mb-md-0">
                            <h3>Sélectionner un pays en<br>3ème position :</h3>
                            {{ form_widget(bet_form.third_countrie_user, {'attr': {'class': 'fs-4 text-center form-select p-3'}}) }}
                        </div>
                        <div class="col-12 col-md-12 mt-5">
                            <a href="{{ path("app_bet_bonus") }}" class="btn btn-danger btn-block btn-lg">
                                Annuler
                            </a>
                            <button type="submit" class="btn btn-success btn-block btn-lg">
                                Valider
                            </button>
                        </div>
                    </div>
                    {{ form_end(bet_form) }}
                </div>
            </div>
        </div>
    </section>
    <style>
        @media (min-width: 576px) {
            .flag-style {
                width: 100px !important;
                height: 100px !important;
            }
        }

        .flag-style {
            width: 50px;
            height: 50px;
        }
        select {
            -webkit-appearance:none;
        }
    </style>
{% endblock %}
