{% extends 'base.html.twig' %}

{% block title %}Classement des joueurs{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Classement</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                {% if (app.user.groupes != null) %}
                <div class="col-6">
                {% else %}
                <div class="col-12">
                {% endif %}
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h2 class="text-center">Classement Global des Joueurs</h2>
                            <div class="table-responsive">
                                <table class="table caption-top p-5">
                                    <thead>
                                    <tr>
                                        <th><i class="fa-solid fa-ranking-star"></i></th>
                                        <th>Joueur</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody class="fw-bold">
                                    {% for res in leadboard %}
                                        {% if (res.leadboard_number == "1") %}
                                            <tr class="first_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if (res.leadboard_number == "2") %}
                                            <tr class="second_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if(res.leadboard_number == "3") %}
                                            <tr class="third_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if(res.leadboard_number != "1" and res.leadboard_number != "2" and res.leadboard_number != "3") %}
                                            <tr class="align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (app.user.groupes != null) %}
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h2 class="text-center">Classement Groupe {{ app.user.groupes.name }} :</h2>
                            <div class="table-responsive">
                                <table class="table caption-top p-5">
                                    <thead>
                                    <tr>
                                        <th><i class="fa-solid fa-ranking-star"></i></th>
                                        <th>Joueur</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody class="fw-bold">
                                    {% for res in leadboard_groups %}
                                        {% if (res.leadboard_number == "1") %}
                                            <tr class="first_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if (res.leadboard_number == "2") %}
                                            <tr class="second_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if(res.leadboard_number == "3") %}
                                            <tr class="third_place align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if(res.leadboard_number != "1" and res.leadboard_number != "2" and res.leadboard_number != "3") %}
                                            <tr class="align-middle" onclick="location.href='{{ path("app_profil_other", {id: res.id}) }}'">
                                                <td class="col-1">{{ res.leadboard_number }}</td>
                                                <td class="col-10">{{ res.name }}<br><span class="fw-normal punchline">{{ res.message }}</span></td>
                                                <td class="col-1">{{ res.scores }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>
    <style>
        @media (min-width: 576px) {
            .punchline {
                font-size: 16px !important;
            }
        }
        .punchline {
            font-size: 10px;
        }
        tbody tr {
            cursor: pointer;
        }
        tbody tr:hover {
            background-color: lightgray;
        }
        .first_place {
            background-color: goldenrod;
        }

        .second_place {
            background-color: silver;
        }

        .third_place {
            background-color: #cc5905;
        }
    </style>
{% endblock %}
