{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section class="vh-100 bg-image">
        <div class="d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Se connecter</h2>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Email :</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Mot de passe :</label>
                                        <div class="input-group mb-3">
                                            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>
                                            <a class="text-decoration-none text-dark input-group-text" href="#" id="togglePassword"><i id="icon_see_password" class="fa-solid fa-eye"></i><i id="icon_not_see_password" class="fa-solid fa-eye-slash"></i></a>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-center my-3">
                                        <input class="form-check-input me-2" type="checkbox" name="_remember_me" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Se souvenir de moi
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center flex-row">
                                        <button type="submit" class="btn btn-bordeaux btn-block btn-lg">
                                            Me connecter
                                        </button>
                                    </div>
                                    <p class="text-center m-0 mt-2"><a href="{{ path("app_forgot_password_request") }}" class="fw-bold text-body"><u>J'ai oublié mon mot de passe</u></a></p>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <p class="text-center text-muted mt-4 mb-0">Vous n'avez pas de compte ?<br><a href="{{ path('app_register') }}" class="fw-bold text-body"><u>Créer votre compte</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const togglePassword = document.querySelector('#togglePassword');

        const password = document.querySelector('#inputPassword');
        document.querySelector('#icon_not_see_password').style.display = "none";
        document.querySelector('#icon_see_password').style.display = "block";
        togglePassword.addEventListener('click', () => {

            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            if(password.getAttribute('type') === 'password') {
                document.querySelector('#icon_see_password').style.display = "block";
                document.querySelector('#icon_not_see_password').style.display = "none";
            } else {
                document.querySelector('#icon_see_password').style.display = "none";
                document.querySelector('#icon_not_see_password').style.display = "block";
            }
        });
    </script>
{% endblock %}
