{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.name }} {% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Profile {{ app.user.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{ app.user.urlPicture }}" alt="avatar" class="rounded-circle img-fluid"
                                 style="width: 150px;">
                            <h5 class="my-3">{{ app.user.name }}</h5>
                            <p class="mb-1">Votre email : <span class="text-muted">{{ app.user.email }}</span></p>
                            {% if(app.user.valideRegister == false) %}
                                <p class="mb-1">Compte : <span class="text-danger">Compte non validé</span></p>
                            {% else %}
                                <p class="mb-1">Compte : <span class="text-muted">Compte validé</span></p>
                            {% endif %}
                            {% if(app.user.groupes == null) %}
                                <p class="mb-1">Groupe : <span class="text-muted">Aucun groupe</span></p>
                            {% else %}
                                <p class="mb-1">Groupe : <span class="text-muted">{{ app.user.groupes }}</span></p>
                            {% endif %}
                            {% if(app.user.paid == false) %}
                                <p class="mb-1">Participation 2€ : <span class="text-muted">Non</span></p>
                            {% else %}
                                <p class="mb-1">Participation 2€ : <span class="text-muted">Oui</span></p>
                            {% endif %}
                            <a href="{{ path("app_logout") }}" class="btn btn-bordeaux btn-lg mt-3">Se déconnecter</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-0">Votre classement global :</p>
                                    <p class="mb-0 fs-1">100</p>
                                </div>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-12">
                                    <p class="mb-0">Matche parié : 78</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie réussie (scores exactes) : 5</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie réussie : 1</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie perdu : 1</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-0">Score actuel :</p>
                                    <p class="mb-0 fs-1">501</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-0 fs-4">Liens utiles :</p>
                                </div>
                                <div class="col-12">
                                    <ul class="list-group list-group-flush rounded-3">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fas fa-globe fa-lg text-warning"></i>
                                                <p class="mb-0">Comment sont comptés les points ?</p>
                                            </li>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                                <p class="mb-0">Mon compte n'est pas validé ? Pourquoi ?</p>
                                            </li>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                                <p class="mb-0">J'ai un soucis ou j'ai trouvé un bug que faire ?</p>
                                            </li>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                                <p class="mb-0">Je ne suis dans aucun groupe pourquoi ?</p>
                                            </li>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                                <p class="mb-0">C'est quoi la participation à 2€ ?</p>
                                            </li>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                                <p class="mb-0">Peut on changer son avatar ?</p>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-12 text-center">
                                    <p class="mb-0 fs-4">Contacter l'organisateur :</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
