{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.name }} {% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Profile {{ app.user.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="{{ app.user.urlPicture }}" alt="avatar" class="rounded-circle img-fluid"
                                         style="width: 150px;">
                                    <h5 class="my-3">{{ app.user.name }}</h5>
                                    <p class="mb-1">Votre email : <span class="text-muted fw-bold">{{ app.user.email }}</span></p>
                                    {% if(app.user.valideRegister == false) %}
                                        <p class="mb-1">Compte : <span class="text-danger fw-bold">Compte non validé</span></p>
                                    {% else %}
                                        <p class="mb-1">Compte : <span class="text-success fw-bold">Compte validé</span></p>
                                    {% endif %}
                                    {% if(app.user.groupes == null) %}
                                        <p class="mb-1">Groupe : <span class="text-muted fw-bold">Aucun groupe</span></p>
                                    {% else %}
                                        <p class="mb-1">Groupe : <span class="text-muted fw-bold">{{ app.user.groupes.name }}</span></p>
                                    {% endif %}
                                    {% if(app.user.paid == false) %}
                                        <!--<p class="mb-1">Participation 2€ : <span class="text-danger fw-bold">Non</span></p>-->
                                    {% else %}
                                        <!--<p class="mb-1">Participation 2€ : <span class="text-success fw-bold">Oui</span></p>-->
                                    {% endif %}
                                    <a href="{{ path("app_logout") }}" class="btn btn-bordeaux btn-lg mt-3">Se déconnecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <h3>News :</h3>
                                    <p class="mb-0">Aucune pour le moment.</p>
                                    <i class="text-danger fs-4 fa-solid fa-heart-crack"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-0">Votre classement global :</p>
                                    {% if (position == 1) %}
                                        <p class="mb-0 fs-1 first_place fw-bold">{{ position }}er</p>
                                    {% else %}
                                        {% if (position == 2) %}
                                            <p class="mb-0 fs-1 second_place fw-bold">{{ position }}ème</p>
                                        {% elseif (position == 3) %}
                                            <p class="mb-0 fs-1 third_place fw-bold">{{ position }}ème</p>
                                        {% else %}
                                            <p class="mb-0 fs-1 fw-bold">{{ position }}ème</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mt-3 text-center">
                                <div class="col-12">
                                    <p class="mb-0">Matches pariés : <span class="fw-bold">{{ number_bet_matche }}/63</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie réussie (scores exactes) : <span class="fw-bold">{{ bet_win_bonus }}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie réussie : <span class="fw-bold">{{ bet_win }}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-12">
                                    <p class="mb-0">Parie perdu : <span class="fw-bold">{{ bet_loses }}</span></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="mb-0">Score actuel :</p>
                                    <p class="mb-0 fs-1 fw-bold">{{ scores }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3 class="my-3">Liens utiles :</h3>
                                </div>
                                <div class="col-12">
                                    <ul class="list-group list-group-flush rounded-3">
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#pointsCalcul">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-star"></i>
                                                <p class="mb-0">Comment sont comptés les points ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#combiendetemps">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-clock"></i>
                                                <p class="mb-0">Combien de temps j'ai pour parier un match ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#compteValide">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-lock"></i>
                                                <p class="mb-0">Mon compte n'est pas validé ? Pourquoi ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#bug">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-bug"></i>
                                                <p class="mb-0">J'ai un soucis ou j'ai trouvé un bug que faire ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#aucunGroupe">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-people-group"></i>
                                                <p class="mb-0">Je ne suis dans aucun groupe pourquoi ?</p>
                                            </li>
                                        </a>
                                        <!--<a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#participation2euros">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-coins"></i>
                                                <p class="mb-0">C'est quoi la participation à 2€ ?</p>
                                            </li>
                                        </a>-->
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#changerAvatar">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-image"></i>
                                                <p class="mb-0">Peut on changer son avatar ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#bet90minutes">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-hourglass-end"></i>
                                                <p class="mb-0">Peut on parier après les 90 minutes ?</p>
                                            </li>
                                        </a>
                                        <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#suggestions">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fa-solid fa-comment"></i>
                                                <p class="mb-0">J'ai une suggestion à faire ! Mais à qui ?</p>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-12 text-center">
                                    <h3 class="my-3">Contacter l'organisateur :</h3>
                                    <p><a class="mb-3 btn btn-bordeaux" href="mailto:no-reply@harmant-mathieu.fr">no-reply@harmant-mathieu.fr</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal lien utile -->
        <div class="modal modal-xl fade" id="suggestions" tabindex="-1" aria-labelledby="bet90minutes" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">J'ai une suggestion à faire ! Mais à qui ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Contacter l'organisateur si vous avez des idées d'améliorations.</p>
                        <p>Nous sommes ouverts aux avis, critiques qui sont constructifs</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="changerAvatar" tabindex="-1" aria-labelledby="bet90minutes" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Peut on parier après les 90 minutes ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Non pour l'instant il n'est pas possible de parier après les 90 minutes.</p>
                        <p>Nous cherchons toujours un moyen de l'implémenter pour une future mise à jour ou pour une version de l'Euro 2024.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="changerAvatar" tabindex="-1" aria-labelledby="changerAvatar" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comment sont comptés les points ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Malheuresement pour l'instant il est impossible de changer d'avatar. Un avatar aléatoire vous ai attribué.</p>
                        <p>Nous tenons à vous rappeler que le site est en version alpha.</p>
                        <p>Cette ajout sera peut étre réalisé dans un futur proche.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="participation2euros" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comment sont comptés les points ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Lors de votre inscription vous devez payer à l'organisateur 2€ pour participer sous peine de ne pas pouvoir parier.</p>
                        <ul>
                            <li>1€ permet de faire gagner une petite somme aux 1er, 2ème et 3ème du classement global.</li>
                            <li>1€ permet de financer l'hébergement du site (serveur, ram, base de donnée...)</li>
                        </ul>
                        <p>Certains sont peut-etre inquiet à l'idée de donner 2€ euros. L'organisateur garanti en cas de soucis d'un crash du site, un bug, score erroné du à une mauvaise programmation.</p>
                        <p>Les utilisateurs se reverront rembourser leur somme dans l'intégralité.</p>
                        <p>De plus les scores des joueurs seront revérifié à la fin de la coupe du monde.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="combiendetemps" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Combien de temps j'ai pour parier un match ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Chaque parie pour un match possède une date de validation de parie.</p>
                        <p>Par exemple le 1er match de la coupe du monde commence le 20 Novembre 2022 à 17:00</p>
                        <p>Après cette date aucun parie ou modification de parie ne pourra être fait !</p>
                        <p>Un conseil parié l'ensemble des matches déjà disponible pour éviter des oublies !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="pointsCalcul" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comment sont comptés les points ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Un parie d'une victoire ou une égalité d'une équipe vous rapportes 1 point</p>
                        <p>Si le scores du parie et le même que le résultat du match vous avez 2 points en plus.</p>
                        <p>Vous pouvez gagner au maximum 3 points par parie !</p>
                        <p>Des points peuvent être retiré pour (triche, usebug...)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="bug" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">J'ai un soucis ou j'ai trouvé un bug que faire ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Contacter l'organisateur en expliquant bien votre soucis ou les détails de l'apparition du bug.</p>
                        <p>C'est une version alpha. Nous ne sommes jamais à l'abris d'une erreur de programmation.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="aucunGroupe" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Je ne suis dans aucun groupe pourquoi ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Lors de votre inscription vous n'avez aucun groupe.</p>
                        <p>C'est lors de votre vérification de compte qu'un groupe vous seras attribué.</p>
                        <p>Si vous n'avez toujours aucun groupe vous pouvez faire une demande de création à l'organisateur.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-xl fade" id="compteValide" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mon compte n'est pas validé ? Pourquoi ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Un compte crée doit être approuvé par l'organisateur pour accéder aux paries. Cela permet de vérifier l'authenticité de la personne (famille, amis...).</p>
                        <p>Une vérification prend environ entre 24 heures et 48 heures.</p>
                        <p>Si votre compte n'est toujours pas actif et que vous pensez que c'est une erreur.</p>
                        <p>Contacter l'organisateur pour voir avec lui.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">J'ai compris</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .first_place {
            color: goldenrod;
        }
        .second_place {
            color: silver;
        }
        .third_place {
            color: #cc5905;
        }
    </style>
{% endblock %}
