{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <section class="vh-100 bg-image">
        <div class="d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Réinitialiser mot de passe</h2>
                                {{ form_start(requestForm) }}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Email :</label>
                                        {{ form_widget(requestForm.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
                                    </div>
                                    <div class="d-flex justify-content-center flex-row">
                                        <a href="{{ path("app_login") }}" class="me-5 btn btn-bordeaux btn-block btn-lg">
                                            Annuler
                                        </a>
                                        <button type="submit" class="btn btn-bordeaux btn-block btn-lg">
                                            Envoyer l'email
                                        </button>
                                    </div>
                                {{ form_end(requestForm) }}
                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}