{% extends 'base.html.twig' %}

{% block title %}Listes des paris{% endblock %}

{% block body %}
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">Accueil</li>
                            <li class="breadcrumb-item" aria-current="page">Pari</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card mb-4 type_match_">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-4 text-center g-0">
                        </div>
                        <div class="col-4 g-0">
                            <span class="flag-style fi fi-"></span>
                            <p></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if date("now") >= matche.date %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <h2 class="text-center">Paris des autres joueurs</h2>
                                <div class="table-responsive">
                                    <table class="table caption-top p-5">
                                        <thead>
                                        <tr>
                                            <th>Joueur</th>
                                            <th>Paris</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for key, res in bet %}
                                            {% if(app.user.name == res.name) %}
                                                <tr class="">
                                                    <td class="col-2 col-md-6"><b>{{ res.name }}</b><br>(Votre pari)</td>
                                                    <td class="col-6 col-md-6"><span class="fi fi-{{ res.bet_countrie_1_flag }}"></span> {{ res.bet_countrie_1 }} <span class="fw-bold">VS</span> {{ res.bet_countrie_2 }} <span class="fi fi-{{ res.bet_countrie_2_flag }}"></span></td>
                                                </tr>
                                            {% else %}
                                                <tr class="">
                                                    <td class="col-2 col-md-6"><b>{{ res.name }}</b></td>
                                                    <td class="col-6 col-md-6"><span class="fi fi-{{ res.bet_countrie_1_flag }}"></span> {{ res.bet_countrie_1 }} <span class="fw-bold">VS</span> {{ res.bet_countrie_2 }} <span class="fi fi-{{ res.bet_countrie_2_flag }}"></span></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    <style>
        @media (min-width: 576px) {
            .flag-style {
                width: 100px !important;
                height: 100px !important;
            }
        }
        .flag-style {
            width: 50px;
            height: 50px;
        }
        .select-type-match-100, .select-type-match-7, .select-type-match-6, .select-type-match-5, .select-type-match-4, .select-type-match-3, .select-type-match-2, .select-type-match-1 {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }
        .size_score {
            font-size: 25px;
        }
    </style>
{% endblock %}
