<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset("images/favicon.ico") }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("images/apple-touch-icon.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("images/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("images/favicon-16x16.png") }}">
        <link rel="manifest" href="{{ asset("images/site.webmanifest") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'nav.html.twig' %}
    </body>
    <style>
        @media (min-width: 576px) {
            body {
                background: -webkit-linear-gradient(to right, rgb(137, 9, 47), rgb(51, 1, 18)) !important;
                background: linear-gradient(to right, rgb(137, 9, 47), rgb(51, 1, 18)) !important;
            }
        }
        body {
            background: rgb(137, 9, 47);
        }
        .btn-disabled {
            background: rgb(107, 96, 98);
            color: white;
            cursor: not-allowed;
        }
        .btn-disabled:hover {
            background: rgb(107, 96, 98);
            color: white;
            cursor: not-allowed;
        }
        .btn-disabled:active {
            background: rgb(107, 96, 98);
            color: white;
            cursor: not-allowed;
        }
        .btn-bordeaux {
            background: rgb(137, 9, 47);
            color: white;
        }
        .btn-bordeaux:hover {
            background: rgb(120, 5, 40);
            color: white;
        }
        .btn-yellow-modif {
            background: #e58222;
            color: white;
        }
        .btn-yellow-modif:hover {
            background: #e58222;
            color: white;
        }
    </style>

</html>
