{% if app.user %}
    <nav class="nav">
        {% if (app.request.attributes.get('_route') == "app_profil") %}
            <a href="{{ path('app_profil') }}" class="nav__link nav__link--active">
                <i class="nav__icon fa-solid fa-user"></i>
                <span class="nav__text">Mon profil</span>
            </a>
        {% else %}
            <a href="{{ path('app_profil') }}" class="nav__link">
                <i class="nav__icon fa-solid fa-user"></i>
                <span class="nav__text">Mon profil</span>
            </a>
        {% endif %}
        {% if (app.request.attributes.get('_route') == "app_bet") %}
            <a href="{{ path("app_bet") }}" class="nav__link nav__link--active">
                <i class="nav__icon fa-solid fa-sack-dollar"></i>
                <span class="nav__text">Parier</span>
            </a>
        {% else %}
            <a href="{{ path("app_bet") }}" class="nav__link">
                <i class="nav__icon fa-solid fa-sack-dollar"></i>
                <span class="nav__text">Parier</span>
            </a>
        {% endif %}
        {% if (app.request.attributes.get('_route') == "app_leadboard") %}
            <a href="{{ path("app_leadboard") }}" class="nav__link nav__link--active">
                <i class="nav__icon fa-solid fa-ranking-star"></i>
                <span class="nav__text">Classements</span>
            </a>
        {% else %}
            <a href="{{ path("app_leadboard") }}" class="nav__link">
                <i class="nav__icon fa-solid fa-ranking-star"></i>
                <span class="nav__text">Classements</span>
            </a>
        {% endif %}
    </nav>
{% endif %}
<!--TODO REWORK NAV POSITION FLEX-->
<style>
    .nav__text {
        font-size: 20px;
    }
    .nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        display: flex;
        overflow-x: auto;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        white-space: nowrap;
        font-size: 13px;
        color: rgb(137, 9, 47);;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    .nav__link:hover {
        color: rgb(51, 1, 18);
    }
    .nav__link--active {
        color: rgb(51, 1, 18);
    }
    .nav__icon {
        font-size: 18px;
    }
    @media (min-width: 576px) {
        .nav__text {
            font-size: 24px;
        }
        .nav {
            height: 80px;
        }
        .nav__icon {
            font-size: 35px;
        }
    }
</style>